@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

h1.title{
	font-family: 'Noto Serif', serif;
}

.box{
	margin-top: 2em;
}

.timeline {
	padding: 1em;
}

.timeline ul {
	padding: 0.5em 0 0 0;
	margin: 0;
	list-style: none;
	position: relative;
	z-index: 2;
}
.timeline ul::before {
	content: ' ';
	height: 100%;
	width: 1px;
	background-color: lightgray;
	position: absolute;
	top: 0;
	left: 0.49em;
	z-index: -1; 
}

.timeline li{
	margin-bottom: 0.5em;
}

.timeline li div{
	display: inline-block;
	/* margin: 0 0 1em 0; */
	vertical-align: top;
}

.timeline .bullet {
	display: inline-block;
	width: 1em;
	height: 1em;
	box-sizing: border-box;
	border-radius: 50%;
	background: white;
	margin-right: -1em;
}
	
.timeline .bullet.pink {
	border: 2px solid pink;
}  

.timeline .desc {
	width: 97%;
	padding-left: 2em;
	margin-top: -0.3em;
}

.timeline h3 {
	font-weight: bolder;
	margin: 0;
	text-transform: capitalize;
}

.timeline p {
	margin: 0;
	font-weight: 400;
	color: dark-grey;
}